/* header */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 
 /* navbar */
nav{
    position:relative;
    width: 100%;
    top:0;
    background-color:#466f1a;
    box-shadow:3px 3px 5px rgba(0,0,0,0.1) ;
}
nav ul{
width:100;
list-style: none;
display:flex;
flex-wrap: wrap;
justify-content: flex-end;
align-items: center;
}
nav li{
    height:50px;
}
nav a{
    height:100%;
    padding:0 30px;
    text-decoration:none;
    display:flex;
    align-items:center;     
    color:white;
    
}
nav a:hover{
    background-color:#466f1a;
    color:white;
}
.logo{
    display:flex;
    margin-right:auto;
    font-size:2rem;
    font-weight:600;
}
.sidebar{
    position:absolute;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index: 999;
    background-color:#679436;
    box-shadow:-10px 0 10px rgba(0, 0, 0, 0.2);
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}
.sidebar li{
    width: 100%;
    
}
ul li ul.droptdown li{
display:block;
}
ul li ul.dropdown {
    position: absolute;
    background-color: #679436f9;
    width: 200px;
    display: none;
    z-index: 999;
}
ul li a:hover{
    background-color: white;
    color:#466f1a;
    border:2px solid #466f1a;
}
.dropdown{
    position: relative;
}
ul li:hover ul.dropdown {
    display:inherit;

}


/* hero section */
.h-cont{
    min-height: 100vh;
    background-image:url(./img/mountain\ bg-img.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.h-cont h1{
    justify-content: center;
    align-items: center;
    font-family: 'Cedarville Cursive', cursive, sans-serif;
    color: white;
    font-size: 3rem;
    width:3rem;
    padding-top:10rem;
    padding-left:1rem;
}


/* grid */
.grid{
    position:relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* title */
.h2-title{
  justify-content: center;
  align-items: center;
  font-family: 'Cedarville Cursive', cursive, sans-serif;
  font-size: 3rem;
  grid-column:2;
  margin:30px;
}
/* carousel */

.carousel{
    position: relative;
    height: 300px;
    width:80%;
    margin: 0 auto;
    margin-top:40px;
    grid-column:2/4;
    
}  
.carousel-img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.carousel_track-cont{
    background-color: #466f1a;
    height:100%;
    position: relative; 
    overflow: hidden;
}
.carousel_track{
    padding:0;
    margin:0;
    list-style-type: none;
    position:relative;
    height:100%;
    transition: transform 300ms ease-in;
     
}
.carousel-slide{
    position:absolute;
    top:0;
    bottom:0;
    width:100%
}
.carousel_button{
    position:absolute;
    top:50%;
    transform:translateY(-50%)
}
.carousel_button-left{
    left:-40px;
}
.carousel_button-right{
    right:-40px;
}
.carousel_nav{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0 10px;
}
.carousel_indicator{
    border:0;
    border-radius: 15px;
    height: 15px;
    width:15px;
    margin:0 12px;
    background-color:rgba(0, 0, 0, 0.2);
}
.carousel_indicator.current_slide{
    background-color: rgba(0,0,0,0.75);
}
/* article Btm */
.text::first-letter{
    text-transform: uppercase;
    font-size: 1.5rem;
    border:1px solid #466f1a;
}
.text{
    text-indent: 33px;
}
.city-h2{
    margin:20px;
}
.articleBtm{
    grid-column: 2/4;
    border:2px solid #679436;
    margin:10% 30px;
    padding:5px;
    box-shadow:3px 3px 5px rgba(0,0,0,0.1) ;
}

/* footer */
footer{
    position:relative;
    bottom:0;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    width:100vw;
    height: 3rem;
    background-color:#466f1a;
    color:white;
}

/* media queiry */
/* nav */
@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }
}
@media(min-width:800px){
    .hideOnDesktop{
        display:none;
    }
}
@media(max-width:400px){
    nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .sidebar{
        width:100%;

}
}
/* grid/footer */
@media(max-width:800px){
    .grid{
        display:flex;
        flex-direction: column; 
    }
    footer{
        flex-direction: column;
        height:5rem;
    }
    
    }